.kiro/
.idea/
.agents/
*.log
*.code-workspace
*.db
*.mp4
*.sql
*.bak
.claude/*
backups/*
build/*
ignored_*
CLAUDE.md
coderules.md
.serena/
settings.ini
KIRO.md
.junie
frontend/node_modules/
frontend/resources/js/**/*.js
frontend/tests/**/*.js
/skills-lock.json
